node_modules
dist
.git
.gitignore
.env
.env.local
.env.*.local
*.md
LICENSE
.vscode
.idea
coverage
test
*.spec.ts
docker-compose*.yml
compose*.yml
Dockerfile*
.dockerignore
.eslintrc*
.prettierrc*
eslint.config.*